@font-face {
  font-family: 'cp';
  src: url("../fonts/courierprime-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/courierprime-webfont.woff") format("woff"), url("../fonts/courierprime-webfont.ttf") format("truetype"), url("../fonts/courierprime-webfont.svg#svgFontName") format("svg"); }
@font-face {
  font-family: 'cp-em';
  src: url("../fonts/courierprimeitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/courierprimeitalic-webfont.woff") format("woff"), url("../fonts/courierprimeitalic-webfont.ttf") format("truetype"), url("../fonts/courierprimeitalic-webfont.svg#svgFontName") format("svg"); }
@font-face {
  font-family: 'cp-strong';
  src: url("../fonts/courierprimebold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/courierprimebold-webfont.woff") format("woff"), url("../fonts/courierprimebold-webfont.ttf") format("truetype"), url("../fonts/courierprimebold-webfont.svg#svgFontName") format("svg"); }
@font-face {
  font-family: 'cp-emstrong';
  src: url("../fonts/courierprimebolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/courierprimebolditalic-webfont.woff") format("woff"), url("../fonts/courierprimebolditalic-webfont.ttf") format("truetype"), url("../fonts/courierprimebolditalic-webfont.svg#svgFontName") format("svg"); }
@font-face {
  font-family: 'cp-code';
  src: url("../fonts/courierprimecode-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/courierprimecode-webfont.woff") format("woff"), url("../fonts/courierprimecode-webfont.ttf") format("truetype"), url("../fonts/courierprimecode-webfont.svg#svgFontName") format("svg"); }
@font-face {
  font-family: 'cp-codeem';
  src: url("../fonts/courierprimecodeitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/courierprimecodeitalic-webfont.woff") format("woff"), url("../fonts/courierprimecodeitalic-webfont.ttf") format("truetype"), url("../fonts/courierprimecodeitalic-webfont.svg#svgFontName") format("svg"); }
@font-face {
  font-family: 'cp-sans';
  src: url("../fonts/courierprimesans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/courierprimesans-webfont.woff") format("woff"), url("../fonts/courierprimesans-webfont.ttf") format("truetype"), url("../fonts/courierprimesans-webfont.svg#svgFontName") format("svg"); }
@font-face {
  font-family: 'cp-sansem';
  src: url("../fonts/courierprimesansitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/courierprimesansitalic-webfont.woff") format("woff"), url("../fonts/courierprimesansitalic-webfont.ttf") format("truetype"), url("../fonts/courierprimesansitalic-webfont.svg#svgFontName") format("svg"); }
@font-face {
  font-family: 'cp-sansstrong';
  src: url("../fonts/courierprimesansbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/courierprimesansbold-webfont.woff") format("woff"), url("../fonts/courierprimesansbold-webfont.ttf") format("truetype"), url("../fonts/courierprimesansbold-webfont.svg#svgFontName") format("svg"); }
@font-face {
  font-family: 'cp-sansemstrong';
  src: url("../fonts/courierprimesansbolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/courierprimesansbolditalic-webfont.woff") format("woff"), url("../fonts/courierprimesansbolditalic-webfont.ttf") format("truetype"), url("../fonts/courierprimesansbolditalic-webfont.svg#svgFontName") format("svg"); }
