@charset "UTF-8";
@import url(normalize.css);
@import url(fonts.css);
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url(skeleton.css);
@import url(pygment.css);
/* Color palette 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Other variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Defaults
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  background-color: #f9f9f9; }

ul {
  list-style: none; }

p {
  line-height: 2rem; }

/* Body copy
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  font-family: 'cp', Courier, monospace;
  color: #303038;
  padding: 3rem 2rem; }

hr {
  margin: -1.5rem 0 3.5rem 0; }

em {
  font-family: 'cp-em', Courier, monospace; }

pre {
  font-family: 'cp-code', Courier, monospace; }

img {
  max-width: 100%; }

li a:link,
p a:link,
address a:link {
  color: #303038;
  text-decoration: none;
  box-shadow: 0 -6px 0 #9dbcd0 inset;
  transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1) 0s; }
li a:visited,
p a:visited,
address a:visited {
  color: #303038; }
li a:hover, li a:active, li a:focus,
p a:hover,
p a:active,
p a:focus,
address a:hover,
address a:active,
address a:focus {
  background: #9dbcd0 none repeat scroll 0 0; }

h1 a:link,
h2 a:link,
h3 a:link {
  color: #303038;
  text-decoration: none;
  transition: color 0.15s cubic-bezier(0.33, 0.66, 0.66, 1) 0s; }
h1 a:visited,
h2 a:visited,
h3 a:visited {
  color: #303038; }
h1 a:hover, h1 a:active, h1 a:focus,
h2 a:hover,
h2 a:active,
h2 a:focus,
h3 a:hover,
h3 a:active,
h3 a:focus {
  color: #9dbcd0; }

blockquote {
  background-color: #b9b8c6;
  border-radius: 5px;
  padding: 0.5rem 1rem; }
  blockquote p {
    margin: 0; }

table {
  min-width: 100%; }
  table thead {
    background-color: #9dbcd0;
    color: white; }
    table thead tr th {
      text-align: center;
      font-weight: normal;
      padding: 0.5rem; }
  table tbody tr:nth-child(odd) {
    background-color: #dedbe6; }
  table tbody tr td {
    padding: 0.5rem; }

address {
  font-family: 'cp-em', Courier, monospace;
  margin-bottom: 2.5rem; }

h6 {
  margin-top: -2.4em;
  float: right;
  color: #b9b8c6; }

h6 a:link {
  color: #9dbcd0; }
h6 a:visited {
  color: #bfd4e1; }
h6 a:hover, h6 a:active, h6 a:focus {
  color: #bfd4e1; }

/* Header & nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header#banner {
  font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center; }

nav#menu ul {
  list-style: none;
  text-align: center; }

ul#post-list {
  list-style: none; }
  ul#post-list li {
    margin: 0 0 0 0; }

h2.entry-title a:link {
  color: #303038;
  text-decoration: none;
  transition: color 0.15s cubic-bezier(0.33, 0.66, 0.66, 1) 0s; }
h2.entry-title a:visited {
  color: #303038; }
h2.entry-title a:hover, h2.entry-title a:active, h2.entry-title a:focus {
  color: #303038; }

p.paginator {
  text-align: center; }

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.border {
  display: block;
  height: 1rem;
  width: 1rem; }

.topleft {
  border-right: 0.2rem solid #dedbe6;
  border-bottom: 0.2rem solid #dedbe6;
  margin: -1.2rem 0 0 -1.6rem;
  float: left; }

.topright {
  border-left: 0.2rem solid #dedbe6;
  border-bottom: 0.2rem solid #dedbe6;
  margin: -1.2rem -1.6rem 0 0;
  float: right; }

.botleft {
  border-right: 0.2rem solid #dedbe6;
  border-top: 0.2rem solid #dedbe6;
  margin: 0 0 -1.2rem -1.6rem;
  float: left; }

.botright {
  border-left: 0.2rem solid #dedbe6;
  border-top: 0.2rem solid #dedbe6;
  margin: 0 -1.6rem -1.2rem 0;
  float: right; }

.highlight {
  padding: 1.7rem 2rem;
  border-radius: 5px;
  margin-bottom: 2.5rem; }
  .highlight pre {
    margin: 0; }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
